{% extends 'base.html' %}

{% block title %}Landing Zone{% endblock %}
{% block header1 %}GGZ Character Sheets{% endblock %}
{% block header2 %}Landing Zone{% endblock %}

{% block pagecontent %}

    <H2>Welcome</H2>
    <p>
        This site is for users to create and store character sheet data
    </p>


    <H2>View an Existing Sheet</H2>

    <p>
    <form action="{% url 'show' %}" method="get">
        <table class="table_form">
            {{ form.as_table }}
        </table>
        <input type="submit" name="view" value="View">
    </form>
    </p>


    <H2>Create a new Sheet</H2>

    <a href="{% url 'create' %}">Create a new sheet</a>


{% endblock %}
